@import '../../Constants/ColorConstant.module.css';

.headerBarContainer {
    text-align: left;
    margin: 0px;
    justify-content: center;
    padding-left: 15px;
}

.titleContainer {
    margin: 0px;
    padding: 0px 0px;
    font-size: 16px;
    color: var(--primaryColor);
    font-weight: 600;
}