:root {
    --primaryColor: #1ABDC4;
    --secondaryColor: #FFFFFF;
    --activeGreenColor:#4DB20F;
    --blockedRedColor:#F10F0F;
    --Color1: #444444;
    --Color2: #EAECF0;
    --Color3:#000000;
    --Color4:#FFFFFF;
    --Color5:#170F49;
    --Color6:#667085;
    --Color7:#F3FCFF;
    --Color8:#4BC5F3;
    --Color9: #808080;
    --Color10:#1ABDC4;
    --Color11:#cccc;
    --Color12:#ABA3A3;
    --Color13: #ffffff7e;
    --Color14:#101828;
    --Color15:#667085;
    --Color16: #EFF9FF;
    --Color17: #F4F4F4;
    --Color19:#00aeee74;
    --Color20:#99d1d3;
    --Color21:#1abec49d;
    --Color22:#677294;
    --Color23:#F3F8FF;
    --Color24:#E4F8F9;
    --Color25:#C0C0C0;
    --modelContainerWrapperBackGroundColor:#0000009C;
  }
