.gridTable {
    border-collapse: collapse;
    width: 95%; /* Adjust the width as needed */

  }
  
  .gridTable th, .gridTable td {
    border: 1px solid var(--Color10); /* Change the color and thickness as needed */
    padding: 8px; /* Adjust the padding as needed */
    text-align: left; /* Adjust the text alignment as needed */
  }

  .gridTable th{
    background-color: var(--Color20);
    color: var(--secondaryColor);

  }

  .previousNextButton{
    background-color: var(--Color10);
    padding: 5px;
    color:var(--secondaryColor);
    width: 50px;
    outline: "none";
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0px 5px;


  }
  .addCityBtn{
    background-color: var(--Color10);
    padding: 10px;
    color:var(--secondaryColor);
    width: 200px;
    outline: "none";
    border: none;
    border-radius: 5px;
    margin: 0px 5px;
    cursor: pointer;
  }
  .previousNextButton:disabled{
    color:var(--Color13);
    background-color: var(--Color21);
  }

  .newClinicFromModalWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    outline: none;
  }

  .clinicFromContainer{
    height: 98% ;
    width: 50%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    /* border: 2px solid red; */
    background-color: var(--secondaryColor);
    border-radius: 25px;
    -webkit-box-shadow: 0px 0px 29px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 29px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 29px -4px rgba(0,0,0,0.75);

  }
  
  .managePrevNextPageWrapper{
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .AcceptRejctButton{
    margin: 0px 5px;
    color: var(--secondaryColor);
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
  }
  .ConfirmationModalContainer{
    height: 40%;
    width: 30%;
    /* padding: 2% ; */
    display: flex;
    justify-content:space-evenly;
    flex-direction:column;
    background-color: var(--secondaryColor);
    border-radius: 25px;
    -webkit-box-shadow: 0px 0px 29px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 29px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 29px -4px rgba(0,0,0,0.75);
  }
  .ConfirmationButton{
    margin: 0px 5px;
    color: var(--secondaryColor);
    border: none;
    /* border-radius: 5px; */
    padding: 10px 24px;
  }